NUXT_SESSION_PASSWORD=
NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
SUPABASE_URL=https://tgucuapktnuokbmgtavo.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_ZV2FqirvffOoCuypo_H9iw_f-V3Eqil