version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile.dev
    
    command: yarn dev
    
    ports:
      - "3000:3000"
      
    environment:
      HOST: 0.0.0.0
      NODE_ENV: development
      
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  node_modules: